In [4]:
import pandas as pd
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier

In [5]:
train_df = pd.read_csv("./train_preprocessed.csv")
test_df = pd.read_csv('./test_preprocessed.csv')

In [8]:
train_df.head(5)

   Survived  Pclass  Sex   Age     Fare  Embarked
0         0       3    0  22.0   7.2500         0
1         1       1    1  38.0  71.2833         1
2         1       3    1  26.0   7.9250         0
3         1       1    1  35.0  53.1000         0
4         0       3    0  35.0   8.0500         0

In [12]:
X_train = train_df.drop("Survived", axis=1)
X_train.head(5)
Y_train = train_df["Survived"]
X_test = test_df.drop("PassengerId", axis=1).copy()
# print(train_df[train_df.isnull().any(axis=1)])
Y_train.head(5)

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [7]:
train_df[['Sex', 'Survived']].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Sex  Survived
1    1  0.742038
0    0  0.188908